@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...){
  @include position(absolute, $args...);
}

@mixin relative($args...){
  @include position(relative, $args...);
}

@mixin fixed($args...){
  @include position(fixed, $args...);
}

@mixin posrt($right: 0, $top: 0){
  @include absolute($right: $right, $top: $top);
}

@mixin poslt($left: 0, $top: 0){
  @include absolute($left: $left, $top: $top);
}

@mixin posrb($left: 0, $bottom: 0){
  @include absolute($left: $left, $bottom: $bottom);
}

@mixin poslb($left: 0, $bottom: 0){
  @include absolute($left: $left, $bottom: $bottom);
}

@mixin center-position($width: null, $height: null, $position: absolute) {
  @include position($position, $left: 50%, $right: 50%);

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($height / 2) #{0 0} -($width / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
 }

 @mixin sr-only{
	@include absolute();
	@include size(1px);
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}